<div class="main-section">

  <div class="profile-pic">

    <img src="assets/images/mainSectionDiluc.png" alt="profile picture">

  </div>
  <div class="info">

    <p class="accordion" (click)="infoActions()">{{titleInfo}}</p>
    <p id="info" style="display: none;">{{infoIntro}}</p>
    
    <p class="accordion" (click)="hobbiesAction()">{{titleHobbies}}</p>
    <p id="hobbies" style="display: none;">{{infoHobbies}}</p>
    
    <p class="accordion" (click)="creatorActions()">{{titleCreator}}</p>
    <p id="creator" style="display: none;">{{infoCreator}}</p>
    
    <p class="accordion" (click)="channelActions()">{{titleChannel}}</p>
    <p id="channel" style="display: none;">{{infoChannel}} <a href="https://www.youtube.com" target="_blank">HERE!</a></p>
    
    <p class="accordion" (click)="fundActions()">{{titleFund}}</p>
    <p id="fund" style="display: none;">{{infoFund}}<a href="https://www.patreon.com" target="_blank">patreon!</a></p>
    
  </div>
  
</div>
